*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --select-border: #fff;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }
  
.navbar {
    position: sticky;
    margin-left: 13.5%;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 16px 110px 16px 30PX;
}

.navbar .select {
    padding: 5px 14px 5px 12px !important;
    font-size: 1rem;
    margin-right: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5 ease-in-out;
    background-color: #08415C;
    position: relative;
    outline: none;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}
.navbar .select .option {
    padding: 10px;

}
.navbar .select.factory-nav::before {
    content: "";
    width: 0.6em;
    height: 0.4em;
    background-image: url(assets/images/planet.svg);
    grid-area: select;
    justify-self: start; 
}
.navbar .select::after {
    content: "";
    width: 0.6em;
    height: 0.4em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    grid-area: select;
    justify-self: end;    
  }
.navbar form {
    display: flex;
}
.navbar select {
    appearance: none;
    background-color: inherit;
    cursor: pointer;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    color: inherit;
    grid-area: select;
  }

.navbar .filter {
    list-style: none;
    display: flex;
    margin: 0;
}
.navbar .filter .item {
    padding: 5px 12px;
    margin-right: 10px;
    color: #b2bec3;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5 ease-in-out;
}
.navbar .filter .item:hover {
    background-color: #F39C124D;
    color: #F39C12;
}
.navbar .filter .item:hover .icon path {
    fill: #F39C12;
}
.navbar .filter .item.active {
    background-color: #08415C;
    color: #fff;
}
.navbar .filter .item input {
    opacity: 0;
    position: absolute;
}
.navbar .filter .item .icon {
    height: 19px;
    width: 17px;
    padding-top: 2px;
}
